**
!dist/
!dist/extension.js
!media/
!media/opencode.svg
!media/app/
!media/app/index.html
!media/app/app.js
!media/app/app.css
!media/app/chunks/*.js
!media/app/assets/*.js
!media/app/assets/*.svg
!media/app/assets/*.woff
!media/app/assets/*.woff2
!media/app/assets/*.ttf
!media/app/assets/*.aac
!package.json
!README.md
!.vscodeignore
